# Google Cloud OAuth client ID (Web application type)
VITE_GOOGLE_CLIENT_ID=xxxxxxxxxx.apps.googleusercontent.com

# URL of your deployed Google Apps Script Web App (ends in /exec)
VITE_GAS_URL=https://script.google.com/macros/s/XXXXXXXXXXXXXXXXXXXXXXXX/exec
